.container-fluid {
  max-width: 95% !important;
  overflow: hidden; }

.my-5 {
  margin-top: 10rem !important; }

.my-md-4 {
  margin-top: 5rem !important; }

.mt-lg-5 {
  margin-top: 6rem !important; }

.mt-md-4 {
  margin-top: 2.8rem !important; }

.mt-lg {
  margin-top: 9rem; }

@media (max-width: 1618px) {
  .mt-lg {
    margin-top: 7rem; } }

@media (max-width: 767px) {
  .mt-lg {
    margin-top: 4rem; } }

.mt-xl {
  margin-top: 10rem; }
  @media (max-width: 991px) {
    .mt-xl {
      margin-top: 2rem; } }

@media (max-width: 991px) {
  .row {
    margin-left: 0 !important; } }

.text-primary {
  color: #eac696 !important; }

.form-select {
  border: navajowhite; }

.btn-info {
  padding: 8px unset;
  background: #eac696;
  border: inherit;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .btn-info:hover, .btn-info:active {
    background: #9b8567 !important; }

.btn-secondary {
  background: #dfa878 !important;
  border: inherit;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .btn-secondary span {
    padding-left: 0.8rem; }
  .btn-secondary:hover {
    background: #e09858 !important;
    letter-spacing: 1px; }

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: #eac696;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.icon__next,
.icon__left {
  font-size: 1.4rem; }

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  background: #eac696; }

.img-gallery {
  display: block;
  width: 100%;
  height: 50rem;
  object-fit: cover;
  object-position: center; }

@media (max-width: 575px) {
  .img-gallery {
    height: 35rem; } }

/* Pagination */
.tab-content > .active {
  display: flex !important; }

/* Footer */
.nav-link {
  display: inline-block !important; }

@font-face {
  font-family: "Titulos";
  src: url(../Heebo/static/Heebo-Regular.ttf); }

.titulos {
  font-family: "Titulos", sans-serif; }

@font-face {
  font-family: "cuerpo";
  src: url(../Cuerpo/Barlow-Light.ttf); }

.cuerpo {
  font-family: "cuerpo", sans-serif; }

html {
  font-family: "cuerpo", sans-serif;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto; }

.header {
  height: 100vh;
  background: linear-gradient(320deg, #ffc6ac, rgba(234, 198, 150, 0.2)), url(../Hero.webp) center/cover no-repeat; }

.hero {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 4; }

.icon-header {
  color: #fff; }

@media (max-width: 1199px) {
  .col-search {
    display: none !important; } }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; }
  .navbar .navbar-brand {
    font-size: 1.7rem; }
  .navbar .nav-link {
    font-size: 1.5rem;
    border-bottom: 2px solid transparent;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease; }
  .navbar .nav-item:hover .nav-link {
    border-bottom: 2px solid #765827; }

.navBar2 .nav-item .btn-outline {
  border: 2px solid #765827; }

.navBar2 .nav-item .nav-link {
  border-bottom: 2px solid #765827;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease; }

.navBar2 .nav-item:hover .nav-link {
  border: 2px solid #f1c27b; }

@media (max-width: 991px) {
  .navbar {
    background: #eac696; }
  .navBar2 .nav-item .btn-outline {
    border: 2px solid transparent; }
  .navBar2 .nav-item .nav-link {
    border: 2px solid transparent; }
  .navBar2 .nav-item:hover .nav-link {
    border: 2px solid transparent;
    border-bottom: 2px solid #765827; } }

.navbar.scrolled {
  background: #eac696;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease; }

::-webkit-scrollbar {
  background: transparent;
  width: .95rem; }

::-webkit-scrollbar-track-piece {
  background: #f1c27b; }

::-webkit-scrollbar-thumb {
  background: #765827;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }

figure {
  height: 50rem;
  width: 100%;
  display: block;
  position: relative; }
  @media (max-width: 991px) {
    figure {
      height: 30rem; } }
  @media (max-width: 575px) {
    figure {
      height: 20rem; } }
  figure .video {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  figure .bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(320deg, rgba(234, 198, 150, 0.32) 20%, transparent 80%); }

.section__video {
  position: relative; }

.message {
  position: absolute;
  width: 100%;
  right: 4.5rem;
  bottom: -2.5rem; }

@media (max-width: 1618px) {
  .message {
    right: 4rem; } }

@media (max-width: 1392px) {
  .message {
    right: 3.8rem; } }

@media (max-width: 1194px) {
  .message {
    right: 3.4rem; } }

@media (max-width: 991px) {
  .message {
    position: relative;
    top: 0;
    right: 0; } }

.shadow_message {
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.331); }

/* Cards */
.mt-cards {
  margin-top: 5rem; }
  @media (max-width: 1194px) {
    .mt-cards {
      margin-top: 3rem; } }
  @media (max-width: 991px) {
    .mt-cards {
      margin-top: 1.5rem; } }

/* Pagination */
.img-pagination {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: auto;
  object-position: top; }

.btn-dot {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #f1c27b;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }
  .btn-dot.active {
    background: #f1c27b; }
  .btn-dot:not(:last-of-type) {
    margin-bottom: 0.3rem; }
    @media (max-width: 1194px) {
      .btn-dot:not(:last-of-type) {
        margin-bottom: 0;
        margin-right: 0.2rem; } }

.mt-pg {
  margin-top: 4rem; }
  @media (max-width: 1392px) {
    .mt-pg {
      margin-top: 2rem; } }
  @media (max-width: 991px) {
    .mt-pg {
      margin-top: 1rem; } }

@media (max-width: 1194px) {
  .dots-page {
    margin-top: 1rem; } }

.footer {
  background: #765827; }
  @media (max-width: 1618px) {
    .footer .display-5 {
      font-size: 2rem !important; } }
  @media (max-width: 575px) {
    .footer .display-5 {
      font-size: 1.4rem !important; } }

.social-icons a:not(:last-of-type) {
  margin-right: 0.3rem; }

.social-icons i {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

.social-icons a:hover i {
  color: #ffc6ac; }
